@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
//fuentes
$mainFont:'Roboto', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
//text size
$textSm: 2rem;
$textMd: 2.5rem;
$textLg: 2.8rem;
$textXl: 3rem;
//weight
$bold: 500;
$regular: 400;
$light: 300;