h1{
    color: $alertColor;
    text-align: center;
}
.h2M{
    color: map-get($map: $paleta, $key: "tres");
    font-weight: $bold;
    font-family: $secondaryFont;
    text-align: center;
}
.main{
    overflow: none;
}
.imgMarcas{
    margin: 15px;
    border-radius: 9px;
}
.imgModelos{
    border-radius: 26px;
}
.carousel1{
    display: flex;
    align-items: center;
}
.modelos{
    display: flex;
    justify-content: center;
    align-items: center;

}
.letrasMod{
    font-size: $textLg;
    text-align: center;
    text-decoration: none;
    color: $black;
}
.articulo1 {
    width: 60%;
    height: auto;
    margin: 50px auto;
    background-color: $bgColor3;
    padding: 10px 5px;
    border: double 4px $secondaryColor;
    h4{
        color: map-get($map: $paleta, $key: "siete");
        font-weight: $bold;
        text-align: center;
        font-size: $textLg;
        p{
            font-family: $secondaryFont;
            font-size: $textMd;
            font-weight: $bold;
            color: $black;
            }
    }
}
.textQ:hover{
    transform: translateX(50px);
    cursor: pointer;
    transition: 3s;
}
h5{
    color: $whte;
    font-weight: $bold;
}
@import "_maps";

$ancho: 10rem;
$alto: 10rem;

.imagenCarrusel{ 
	width: map-get($map: $imagen, $key:width);
    height: map-get($map: $imagen, $key:height );


    image-rendering:crisp-edges
}

.imagenMod{ 
	width: map-get($map: $imagen, $key:width);
    height: map-get($map: $imagen, $key:height );

}
