<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta seo -->
    <meta name="descripcion" content="Selecciona los mejores accesiorios para vos">
    <meta name="keywords" content="Motos, accesorios, buen precio">
    <title>MotosF - Accesorios de calidad para vos</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="../img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- mi css -->
    <link rel="stylesheet" href="../scss/styles.css">

</head>
<body>
    <div class="contenedor">
        <nav class="navbar navbar-expand-lg bgDark2{
            ">
            <div class="container-fluid">
                <a href="../index.html">
                    <img src="../img/logomotosf.png" alt="logo de MotosF" class="logonav">
                </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../views/CONTACTO.html">CONTACTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/SUCURSALES.html">SUCURSALES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/DESTACADOS.html">DESTACADOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/ACCESORIOS.html">ACCESORIOS</a>
                </li>
                </ul>
            </div>
        </nav>
    </div>
    <main>
		<section class="py-3">
			<div class="container-fluid">
				<h1>ACCESORIOS</h1>
				<div class="row">
					<article class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <a href="../views/error.html">
                                <img src="../img/anteojos.png" alt="descripcion-producto2" class="imgAcc">
                            </a>
                            <figcaption class="nombreProd">Anteojos vincha completa</figcaption>
                            <P class="precio">$15.000</P>
                            <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
                        </figure>
					</article>
					<article class="col-sm-12 col-md-6 col-lg-4">
                            <figure>
                                <a href="../views/error.html">
                                    <img src="../img/casco.png" alt="descripcion-producto1" class="imgAcc">
                                </a>
                                <figcaption class="nombreProd">Casco LS2</figcaption>
                                <P class="precio">$30.000</P>
                                <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
                            </figure>
					</article>
					<article class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <a href="../views/error.html">
                                <img src="../img/guantes.png" alt="descripcion-producto3" class="imgAcc">
                            </a>
                            <figcaption class="nombreProd">Guantes térmicos</figcaption>
                            <P class="precio">$5.000</P>
                            <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
                        </figure>
					</article>
					<article class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <a href="../views/error.html">
                                <img src="../img/equipolluvia.png" alt="descripcion-producto5" class="imgAcc">
                            </a>
                            <figcaption class="nombreProd">Equipo de lluvia</figcaption>
                            <P class="precio">$7.120</P>
                            <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
                        </figure>
					</article>
					<article class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <a href="../views/error.html">
                                <img src="../img/puños.png" alt="descripcion-producto4" class="imgAcc">
                            </a>
                            <figcaption class="nombreProd">Puños</figcaption>
                            <P class="precio">$1.350</P>
                            <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
                        </figure>
					</article>
					<article class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                        <a href="../views/error.html">
                            <img src="../img/cubremoto.png" alt="descripcion-producto6" class="imgAcc">
                        </a>
                        <figcaption class="nombreProd">Funda para motos</figcaption>
                        <P class="precio">$2.000</P>
                        <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
                    </figure>
					</article>
				</div>
			</div>
		</section>
    </main>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <h5>SEGUINOS</h5>
          </div>
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted bordeLogo" href="https://www.instagram.com"><img src="../img/instagram.svg" alt="Instagram"></a></li>
            <li class="ms-3"><a class="text-muted bordeLogo" href="https://www.facebook.com"><img src="../img/facebook.svg" alt="Facebook"></a></li>
            <li class="ms-3"><a class="text-muted bordeLogo" href="https://twitter.com/"><img src="../img/twitter.svg" alt="twitter"></a></li>
          </ul>
        </footer>
      </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>