<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotosF - Una buena elección</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="../img/favicon.png">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="contenedorAcc">
    <nav class="bgDark" id="nav">
        <a href="../index.html">
            <img src="../img/logomotosf.png" alt="logo de MotosF" class="logonav">
        </a>
        <ul>
			<li class="navButton">
				<a href="../views/CONTACTO.html">CONTACTO</a>
			</li>
			<li class="navButton">
				<a href="../views/SUCURSALES.html">SUCURSALES</a>
			</li>
			<li class="navButton">
				<a href="../views/DESTACADOS.html">DESTACADOS</a>
			</li>
			<li class="navButton">
				<a href="../views/ACCESORIOS.html">ACCESORIOS</a>
			</li>
		</ul>
    </nav>
<main id="accesorios">
    <h1>ACCSEORIOS</h1>
    <section class="accesoriosCuerpo" id="secc1">
        <figure>
            <a href="accesorio/casco">
                <img src="../img/casco.png" alt="descripcion-producto1" class="imgAcc">
            </a>
            <figcaption>Casco LS2</figcaption>
            <P class="precio">$30.000</P>
            <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
        </figure>
        <figure>
            <a href="accesorio/anteojos">
                <img src="../img/anteojos.png" alt="descripcion-producto2" class="imgAcc">
            </a>
            <figcaption>Anteojos vincha completa</figcaption>
            <P class="precio">$15.000</P>
            <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
        </figure>
        <figure>
            <a href="accesorio/guantes">
                <img src="../img/guantes.png" alt="descripcion-producto3" class="imgAcc">
            </a>
            <figcaption>Guantes térmicos</figcaption>
            <P class="precio">$5.000</P>
            <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
        </figure>			
    </section>
        <section class="accesoriosCuerpo" id="secc2">
            <figure>
                <a href="accesorio/puños">
                    <img src="../img/puños.png" alt="descripcion-producto4" class="imgAcc">
                </a>
                <figcaption>Casco LS2</figcaption>
                <P class="precio">$1.350</P>
                <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
            </figure>
            <figure>
                <a href="accesorio/equipolluvia">
                    <img src="../img/equipolluvia.png" alt="descripcion-producto5" class="imgAcc">
                </a>
                <figcaption>Equipo de lluvia</figcaption>
                <P class="precio">$7.120</P>
                <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
            </figure>
            <figure>
                <a href="accesorio/cubremotos">
                    <img src="../img/cubremoto.png" alt="descripcion-producto6" class="imgAcc">
                </a>
                <figcaption>Funda para motos</figcaption>
                <P class="precio">$2.000</P>
                <p class="descripText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse vel incidunt, facilis </p>
            </figure>			
        </section>
</main>
<footer id="footer">
    <div class="pieCuerpo">
        <div  class="pieTexto" id="pie1">
            <ul>
                <li>SUCURSALES</li>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit.</P>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum</a>
            </ul>
        </div>
        <div class="redes" id="pie">
            <h5>SEGUINOS</h5>
    <a href="https://www.instagram.com" target="_blank">
        <img src="../img/logoinstagram.png" alt="Instagram" class="pieIconSm" clas="imgPie">
    </a>
    <a href="https://www.facebook.com" target="_blank" >  
        <img src="../img/logofacebook.png" alt="Facebook" class="pieIconSm" clas="imgPie">
    </a>
    <a href="https://twitter.com/" target="_blank" class="pieIconSm" clas="imgPie">  
        <img src="../img/logotwitter.png" alt="Twiter" class="pieIconSm" clas="imgPie">
    </a>
        </div>
        <div  class="pieTexto" id="pie3">
            <ul>
                <li>CONTACTANOS</li>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <a href="https://www.gmail.com" target="_blank">
                    <img src="../img/logogmail.png" alt="Correo electronico">
                </a>
            </ul>
        </div>
    </div> 
    </footer>
</div>
</body>
</html>