<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta seo -->
    <meta name="description" content="Contactate con nosotros para una buena elección">
    <meta name="keywords" content="Motos, accesorios, buen precio">
    <title>MotosF - Comunicate con nosotros para un asesoramiento</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="../img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- mi css -->
    <link rel="stylesheet" href="../scss/styles.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="contenedor">
        <nav class="navbar navbar-expand-lg bgDark2{
            ">
            <div class="container-fluid">
                <a href="../index.html">
                    <img src="../img/logomotosf.png" alt="logo de MotosF" class="logonav">
                </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../views/CONTACTO.html">CONTACTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/SUCURSALES.html">SUCURSALES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/DESTACADOS.html">DESTACADOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/ACCESORIOS.html">ACCESORIOS</a>
                </li>
                </ul>
            </div>
        </nav>
    </div>
<main>
    <h1>CONTACATANOS!</h1>
    <section id="contactoCue">
        <div class="contactDiv">
        <form action="envio.php">
            <fieldset>
                <h6>Tu nombre</h6>
            <div class="contactDiv2">
                <label for="nombre-cont" class="textContac">Nombre:</label>
                <input type="tex" id="nombre-cont">
            </div>
            <div class="contactDiv2">
                <label for="apellido-cont" textContac>Apellido:</label>
                <input type="text" id="apellido-cont">
            </div>
            </fieldset>
        </div>
        <div class="contactDiv">
            <fieldset>
            <div class="contactDiv2">
                <h6>Sexo</h6>
                <div class="contactDiv2">
                <label for="masculino-cont" class="textContac">Masculino</label>
                <input type="radio" id="masculino-cont" value="masculino-cont" name="sexo">
            </div>
            <div class="contactDiv2">
                <label for="femenino-cont" class="textContac">Femenino</label>
                <input type="radio" id="femenino-cont" value="femenino-cont" name="sexo">
            </div>
            </fieldset>
        </div>
        <div class="contactDiv">
            <fieldset>
            <div class="contactDiv2">
                <h6>Completa tus datos</h6>
                <label for="tdocum-cont" class="textContac">Tipo de documento</label>
                <select name="select" id="tdocum-cont">
                    <option value="N/A-cont.1">N/A</option>
                    <option value="DNI">DNI</option>
                    <option value="CUIT">CUIT</option>
                    <option value="CUIL">CUIL</option>
                </select>
            </div>
            <div class="contactDiv2">
                <label for="nro.docum-cont" class="textContac">Nº de documento:</label>
                <input type="number" id="nro.docum-cont">
            </div>
            <div class="contactDiv2">
                <label for="tel.cel-cont" class="textContac">Teléfono / Celular:</label>
                <input type="number" id="tel.cel-cont">
            </div>
            </fieldset>
        </div>
        <div class="contactDiv">
            <fieldset>
            <div class="contactDiv2">
                <h6>Día y horario</h6>
                <h7>Día:</h7>
                <label for="lunes-cont" class="textContac">Lunes</label>
                <input type="checkbox" id="lunes-cont" value="lunes-cont">
            </div>
            <div class="contactDiv2">
                <label for="martes-cont" class="textContac">Martes</label>
                <input type="checkbox" id="martes-cont" value="martes-cont">
            </div>
            <div class="contactDiv2">
                <label for="miercoles-cont" class="textContac">Miércoles</label>
                <input type="checkbox" id="miercoles-cont" value="miercoles-cont">
            </div>
            <div class="contactDiv2">
                <label for="jueves-cont" class="textContac">Jueves</label>
                <input type="checkbox" id="jueves-cont" value="jueves-cont">
            </div>
            <div class="contactDiv2">
                <label for="viernes-cont" class="textContac">Viernes</label>
                <input type="checkbox" id="viernes-cont" value="viernes-cont">
            </div>
            <div class="contactDiv2">
                <label for="sabado-cont" class="textContac">Sábado</label>
                <input type="checkbox" id="sabado-cont" value="sabado-cont">
            </div>
            <div class="contactDiv2">
                <label for="horario-cont" class="textContac">Horario:</label>
                <select name="select" id="horario-cont">
                    <option value="N/A-cont.2">N/A</option>
                    <option value="08.10">08:00 a 10:00</option>
                    <option value="10.12">10:00 a 12:00</option>
                    <option value="12.14">12:00 a 14:00</option>
                    <option value="14.16">14:00 a 16:00</option>
                    <option value="16.18">16:00 a 18:00</option>
            </fieldset>
        </div>
            <input type="submit" value="Enviar" class="botones">
            <input type="reset" value="Cancelar" class="botones">

        </form>
    </section>
</main>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <h5>SEGUINOS</h5>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted bordeLogo" href="https://www.instagram.com"><img src="../img/instagram.svg" alt="Instagram"></a></li>
        <li class="ms-3"><a class="text-muted bordeLogo" href="https://www.facebook.com"><img src="../img/facebook.svg" alt="Facebook"></a></li>
        <li class="ms-3"><a class="text-muted bordeLogo" href="https://twitter.com/"><img src="../img/twitter.svg" alt="twitter"></a></li>
      </ul>
    </footer>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>