<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotosF - Una buena elección</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="../img/favicon.png">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
    </header>
    <nav class="bgDark">
        <a href="../index.html">
            <img src="../img/logomotosf.png" alt="logo de MotosF" class="logonav">
        </a>
        <ul>
			<li class="navButton">
				<a href="../views/CONTACTO.html">CONTACTO</a>
			</li>
			<li class="navButton">
				<a href="../views/SUCURSALES.html">SUCURSALES</a>
			</li>
			<li class="navButton">
				<a href="../views/DESTACADOS.html">DESTACADOS</a>
			</li>
			<li class="navButton">
				<a href="../views/ACCESORIOS.html">ACCESORIOS</a>
			</li>
		</ul>
    </nav>
<main>
    <h1 class="titDest">DESTACADOS!</h1>
    <section id="destacadosC">
        <div class="imgDestacado">
            <a href="destacado/xr150">
                <img src="../img/xr150.png" alt="descripcion-producto" class="imgDe">
            </a>
            <a href="destacado/rouser">
                <img src="../img/rouser.png" alt="descripcion-producto" class="imgDe">
            </a>
            <a href="destacado/smash">
                <img src="../img/smash.png" alt="descripcion-producto" class="imgDe">
            </a>
        </div>
        <div class="textCuerpo">
            <div class="textDestacado">
                <h2>Lorem ipsum.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus facere fugiat </p>
                <h3>$550.000</h3>
            </div>
            <div class="textDestacado">
                <h2>Lorem ipsum.</h2>
                <h3>$499.000</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus facere fugiat </p>
            </div>
            <div class="textDestacado">
                <h2>Lorem ipsum.</h2>
                <h3>$499.000</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusamus facere fugiat </p>
            </div>	
        </div>		
    </section>
</main>
<footer id="footer">
    <div class="pieCuerpo">
        <div  class="pieTexto" id="pie1">
            <ul>
                <li>SUCURSALES</li>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit.</P>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum</a>
            </ul>
        </div>
        <div class="redes" id="pie">
            <h5>SEGUINOS</h5>
    <a href="https://www.instagram.com" target="_blank">
        <img src="../img/logoinstagram.png" alt="Instagram" class="pieIconSm" clas="imgPie">
    </a>
    <a href="https://www.facebook.com" target="_blank" >  
        <img src="../img/logofacebook.png" alt="Facebook" class="pieIconSm" clas="imgPie">
    </a>
    <a href="https://twitter.com/" target="_blank" class="pieIconSm" clas="imgPie">  
        <img src="../img/logotwitter.png" alt="Twiter" class="pieIconSm" clas="imgPie">
    </a>
        </div>
        <div  class="pieTexto" id="pie3">
            <ul>
                <li>CONTACTANOS</li>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <a href="https://www.gmail.com" target="_blank">
                    <img src="../img/logogmail.png" alt="Correo electronico">
                </a>
            </ul>
        </div>
    </div> 
    </footer>
</body>
</html>