<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta seo -->
    <meta name="description" content="Tenemos las mejores variedades de motos para lo que necesites">
    <meta name="keywords" content="Motos, accesorios, buen precio">
    <title>MotosF - Una buena elección</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="img/favicon.png">
    <!-- mi css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="scss/styles.css">

</head>
<body>
<div class="contenedor">
    <nav class="navbar navbar-expand-lg {
">
        <div class="container-fluid">
            <a href="index.html">
                <img src="img/logomotosf.png" alt="logo de MotosF" class="logonav">
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="views/CONTACTO.html">CONTACTO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="views/SUCURSALES.html">SUCURSALES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="views/DESTACADOS.html">DESTACADOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="views/ACCESORIOS.html">ACCESORIOS</a>
            </li>
            </ul>
        </div>
    </nav>
  </div>
  <h1>¡MOTOS PENSADAS PARA VOS!</h1>
        <main class="main">
        <h2>MARCAS</h2>
        <div id="carouselExampleControls" class="carousel1 slide " data-bs-ride="carousel">
            <div class="carousel-inner d-flex justify-content-center">
              <div class="carousel-item active">
                <img src="img/logoyamaha.png" class="d-block bordeSm" alt="logo yamaha">
              </div>
              <div class="carousel-item">
                <img src="img/logokawasaki.png" class="d-block bordeSm" alt="logo kawasaki">
              </div>
              <div class="carousel-item">
                <img src="img/logohonda.png" class="d-block bordeSm" alt="logo honda">
              </div>
              <div class="carousel-item">
                <img src="img/logosuzuki.png" class="d-block bordeSm" alt="logo suzuki">
              </div>
            </div>
          </div>
          <h2>MODELOS</h2>
            <div class="container-fluid d-flex justify-content-center row w-100 col-sm-12 col-md-5 col-lg-6 modelos">
                <figure class="col-sm-12 col-md-5 col-lg-6 center">
                    <a href="#">
                    <img src="img/enduro.png" class= "scale img-productos bordeLg" alt="enduro">
                    </a>
                    <figcaption class="letrasMod">Enduro</figcaption>
                </figure>
                <figure class="col-sm-12 col-md-5 col-lg-6 center">
                    <a href="#">
                        <img src="img/economicas.png" class=" scale img-productos bordeLg" alt="economicas">
                        </a>
                    <figcaption class="letrasMod">Económicas</figcaption>
                </figure>
            
                <figure class="col-sm-12 col-md-5 col-lg-6 center">
                    <a href="#">
                    <img src="img/calle.png" class="scale img-producto bordeLg" alt="calle">
                    </a>
                    <figcaption class="letrasMod">Calle</figcaption>
                </figure>   
            
                <figure class="col-sm-12 col-md-5 col-lg-6 center">
                    <a href="#">
                    <img src="img/accesorios.png" class="scale img-productos product bordeLg" alt="accesorios">
                    </a>
                    <figcaption class="letrasMod">Accesorios</figcaption>
                </figure>
            </div>
        <section class="textQ">
        <article class="articulo1" id="art">
        <h4>¿QUIENES SOMOS?</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi corrupti nobis nam maiores totam dignissimos ipsa esse, qui dolore, delectus nisi vitae! Rerum minima similique unde nihil, nesciunt asperiores.
        </p>
        </article>
        </section>
        </main>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                  <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <h5>SEGUINOS</h5>
              </div>
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted bordeLogo" href="https://www.instagram.com"><img src="img/instagram.svg" alt="Instagram"></a></li>
                <li class="ms-3"><a class="text-muted bordeLogo" href="https://www.facebook.com"><img src="img/facebook.svg" alt="Facebook"></a></li>
                <li class="ms-3"><a class="text-muted bordeLogo" href="https://twitter.com/"><img src="img/twitter.svg" alt="twitter"></a></li>
              </ul>
            </footer>
          </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>