<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotosF - Una buena elección</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="../img/favicon.png">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="bgDark">
        <a href="../index.html">
            <img src="../img/logomotosf.png" alt="logo de MotosF" class="logonav">
        </a>
        <ul>
			<li class="navButton">
				<a href="../views/CONTACTO.html">CONTACTO</a>
			</li>
			<li class="navButton">
				<a href="../views/SUCURSALES.html">SUCURSALES</a>
			</li>
			<li class="navButton">
				<a href="../views/DESTACADOS.html">DESTACADOS</a>
			</li>
			<li class="navButton">
				<a href="../views/ACCESORIOS.html">ACCESORIOS</a>
			</li>
		</ul>
    </nav>
<main id="sucursalesC">
    <h1>Nuestras Sucursales:</h1>
    <section class="cuerpoSuc">
        <div class="maps">
    <h2>Sucursal Microcentro</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0469898640713!2d-58.372283584106604!3d-34.60297326496713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3353294f1f42b%3A0x3a13dcd24b894a2e!2sAv.%20Corrientes%20%26%20Av.%20Leandro%20N.%20Alem%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1654208969072!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>Sucursal Mataderos</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.8980296085238!2d-58.51178588410534!3d-34.65727806784247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc8fe3a712dd5%3A0x6b8e4d0d97fbd24!2sAvenida%20Juan%20Bautista%20Alberdi%20%26%20Ca%C3%B1ada%20de%20G%C3%B3mez%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1654209280478!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</main>
<footer id="footer">
    <div class="pieCuerpo">
        <div  class="pieTexto" id="pie1">
            <ul>
                <li>SUCURSALES</li>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit.</P>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum</a>
            </ul>
        </div>
        <div class="redes" id="pie">
            <h5>SEGUINOS</h5>
    <a href="https://www.instagram.com" target="_blank">
        <img src="../img/logoinstagram.png" alt="Instagram" class="pieIconSm" clas="imgPie">
    </a>
    <a href="https://www.facebook.com" target="_blank" >  
        <img src="../img/logofacebook.png" alt="Facebook" class="pieIconSm" clas="imgPie">
    </a>
    <a href="https://twitter.com/" target="_blank" class="pieIconSm" clas="imgPie">  
        <img src="../img/logotwitter.png" alt="Twiter" class="pieIconSm" clas="imgPie">
    </a>
        </div>
        <div  class="pieTexto" id="pie3">
            <ul>
                <li>CONTACTANOS</li>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <li>
                    <a href="#">Lorem ipsum</a>
                </li>
                <a href="https://www.gmail.com" target="_blank">
                    <img src="../img/logogmail.png" alt="Correo electronico">
                </a>
            </ul>
        </div>
    </div> 
    </footer>
</body>
</html>